<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <title>Travel App</title>
</head>
<body>
    <div class="container">
        <h1>Travel App</h1>
        <button class="new-trip">Add A Trip</button>
        <div class="form-container hide">
            <form>
                <div class=city-form>
                    <label for="city" onclick="">A Trip To</label>
                    <input id="city" class="city" type="text">
                </div>
                <div class="date-form">
                    <label for="date">Date</label>
                    <input id="date" class="date" type="date">
                </div>
                <button id="submit" class="submit" type="submit">Add</button>

            </form>
        </div>
        <h2 class="cards-header">My Trips</h2>
        <div class="cards-container">
 
        </div>
    </div>


    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>
</html>