<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <title>Travel App</title>
</head>
<body>
    <div class="container">
        <h1>Travel App</h1>
        <button class="new-trip">Add A Trip</button>
        <div class="form-container hide">
            <form>
                <div class=city-form>
                    <label for="city" onclick="">A Trip To</label>
                    <input id="city" class="city" type="text">
                </div>
                <div class="date-form">
                    <label for="date">Date</label>
                    <input id="date" class="date" type="date">
                </div>
                <button id="submit" class="submit" type="submit">Add</button>

            </form>
        </div>
        <h2 class="cards-header">My Trips</h2>
        <div class="cards-container">
            <!-- <div class="card-holder">
                <div class="img-holder">
                    <img class="img" src="https://pixabay.com/get/g27d073f68a74c68e32cd88a17ee01d6304a0652109b419db19b7a3b267d9dbb69ee21dfe723154747bfb900da79c398b_1280.jpg"></img>
                </div>
                <h2>A Trip To:<br><i>Alexandria/Egypt</i></h2>
                <div class="info-holder">
                    <h3>Flight Date: 02/10/2022</h3>
                    <p>The Plane Departs in 200 days</p>
                    <h4>Expected Weather is</h4>
                    <p>High:20 , Low:19</p>
                    <h4>Mostly Sunny Throughout the day</h4>
                    <button class="remove-trip">Remove Trip</button>"
                </div>
            </div>
            <div class="card-holder">
                <div class="img-holder">
                    <img class="img" src="https://pixabay.com/get/g9566911242d07e61b4b0bb6d80367f87c71b1fec947ba1ccf7cb72a84aff799b3a7fea882f5c22a69e5c1813369c4777_640.jpg"></img>
                </div>
                <h2>A Trip To:<br>Cairo</h2>
                <div class="info-holder">
                    <h3>Flight Date: 02/10/2022</h3>
                    <p>The Plane Departs in 200 days</p>
                    <h4>Expected Weather is</h4>
                    <p>High:20 , Low:19</p>
                    <h4>Mostly Sunny Throughout the day</h4>
                    <button class="remove-trip">Remove Trip</button>"
                </div>
            </div>            <div class="card-holder">
                <div class="img-holder">
                    <img class="img" src="https://pixabay.com/get/gd48db31e466a9478e5c5a6a46cc1f8bed6c5e08d0336a93777ced308fd55ca46e57a7e1e29620a4b0e0cc17488f41e9f99843f4a6b26fa9ae5452511f75cc36d_1280.jpg"></img>
                </div>
                <h2>A Trip To:<br>Luxor</h2>
                <div class="info-holder">
                    <h3>Flight Date: 02/10/2022</h3>
                    <p>The Plane Departs in 200 days</p>
                    <h4>Expected Weather is</h4>
                    <p>High:20 , Low:19</p>
                    <h4>Mostly Sunny Throughout the day</h4>
                    <button class="remove-trip">Remove Trip</button>"
                </div>
            </div> -->
        </div>
    </div>


    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>
</html>